<form action="/movie/create" method="POST">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="year" placeholder="year">
    <input type="text" name="director" placeholder="director">
    <input type="text" name="duration" placeholder="duration">
   <button type="submit">Create Movie</button>
</form>
